= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inputs' }) do |f|
  .field
    = f.input :login, autofocus: true, autocomplete: 'login', label_html: { class: 'block text-sm font-medium text-gray-700' }, input_html: { class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' }
  
  .field
    = f.input :password, autocomplete: 'current-password', label_html: { class: 'block text-sm font-medium text-gray-700' }, input_html: { class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' }

  - if devise_mapping.rememberable?
    .field
      = f.input :remember_me, as: :boolean, label_html: { class: 'checkbox-label' }, input_html: { class: 'checkbox' }

  .actions
    = f.button :submit, 'Log in', class: 'btn-submit'
    
= render 'devise/shared/links'
